<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img class="paimon navber-brand" src="https://lh3.google.com/u/0/d/1aqmwxZMMtHNxT2hlY8Sf_QnX-zAcq-Ku=w1545-h819-iv1" alt="paimonimg" width="4%" height="4%"><span onmouseover="this.style.color='rgb(217, 245, 58)';" onmouseout="this.style.color='';">PAI</span>MON</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/index}">main <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/login}">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/index}">logout</a>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/index2}">setting</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</html>